.table-action-bar-left {
  display: flex;
  justify-content: left;
}

.table-action-bar-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

td {
  padding-left: 1rem;
}

td:last-child {
  padding-left: 4rem;
}
th:last-child {
  padding-left: 4rem;
}
