.grasp-title {
  height: 64px;
  padding: 1rem 3rem;
  background-color: var(--secondary-bg-color);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.layout-main {
  padding: 5rem 2rem 0 2rem;
  background-color: var(--main-bg-color);
  height: 100vw;
}