:root {
  /* pallete 1 */
  --dutch-white: #FAEDCA;
  --coral: #ff7f50;
  --powder-blue: #8eb1c7;
  --jet: #353535;
  --davysgrey: #5e5d5c;
  --coral-dark: color-mix(in srgb, #ff7f50, black);
  --coral-darker: color-mix(in srgb, var(--coral), black 15%);
  --coral-light: color-mix(in srgb, var(--coral), white);
  --coral-lighter: color-mix(in srgb, var(--coral), white 75%);
  --powder-blue-darker: color-mix(in srgb, var(--powder-blue), black 15%);
  --powder-blue-light: color-mix(in srgb, var(--powder-blue), white);
  --powder-blue-lighter: color-mix(in srgb, var(--powder-blue), white 75%);
  --davysgrey-lighter: color-mix(in srgb, var(--davysgrey), white 85%);
 
   /* pallete 2 */
   --coral: #ff7f50;
   --mikdado-yellow: #FFEFCF;
   --verdigris: #73BFB8;
   --picton-blue: #3DA5D9;
   --green-blue: #2364AA;
   --green-blue-light: color-mix(in srgb, var(--green-blue), white 35%);
  /* other */
   --secondary-bg-color: #2364AA;
   --main-bg-color: var(--davysgrey-lighter);
   --white: #fefdff;
}